* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    height: 215px;
}

.logo.index {
    margin: 19.5px 20px;
}

.logo.market {
    margin-top: 10px;
    margin-left: 25px;
}

footer,
.index-body,
.content {
    display: flex;
    justify-content: center;
}

#DSMs {
    margin-top: -12px;
    width: 653px;
}

.under-header {
    display: flex;
}

.under-header {
    justify-content: space-between;
    margin-top: -20px;
    padding: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    
}
.jpg {
    width: 800px;
}

a {
    text-decoration: none;
    color: rgb(185, 185, 185);
    font-weight: 900;
    font-size: 20px;
}

a:hover {
    color: black;
}

.subtext,
.subtext-2021 {
    font-family: serif;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}

.subtext {
    font-size: 45px;
    margin-top: -20px;
}

.subtext-2021 {
    font-size: 33px;
    margin-top: -25px;
}

li {
    list-style-type: none;
}

.side-bar ul {
    padding-left: 25px;
}

.side-bar {
    width: 200px;
}

.main-bar {
    margin: 25px;
}

.header {
    font-weight: 900;
    padding: 0px;
}

.header.dsm {
    font-size: 116px;
    margin-bottom: 0px;
    margin-top: 50px;
    margin-left: 0px;
}

.header.dsmg {
    font-size: 140px;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-left: 0px;
}

.header.dsmny {
    font-size: 99px;
    margin-bottom: 0px;
    margin-top: 70px;
    margin-left: 0px;
}

.header.dsms {
    font-size: 94px;
    margin-bottom: 10px;
    margin-top: 75px;
    margin-left: 0px;   
}

.header.dsmb {
    font-size: 122px;
    margin-bottom: 5px;
    margin-top: 55px;
    margin-left: 0px;  
}

.header.dsmla {
    font-size: 83px;
    margin-bottom: 5px;
    margin-top: 95px;
    margin-left: 0px;  
}

.header.dspm {
    font-size: 85px;
    margin-bottom: 5px;
    margin-top: 48px;
    margin-left: 0px;  
}

.header.dslm {
    font-size: 101px;
    margin-bottom: 0px;
    margin-top: 44px;
    margin-left: 0px;  
}

.overline {
    background-color: rgb(185, 185, 185);
    margin-top: 40px;
    height: 2px;
    width: 1000px;
}

footer {
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

#push {
    margin-left: auto;
}

.footer-info {
    display: flex;
    width: 1000px;
    padding: 0px;
    gap: 10px;
    margin-top: 5px;
}

.footer-info a {
    font-size: 13px;
}

a#underline:hover {
    text-decoration: underline;
    color: rgb(185, 185, 185);
}